<!DOCTYPE HTML>
<html>
	<head>
		<title>Biohof Inselmatt</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<aside>
			<h1><a class="button special fit" href="index.html">zurück zur Startseite</a></h1>
		</aside>

		<!-- One -->
			<section id="one" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="images/pic01.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Agrarpolitik</h2>
						</header>
						<p>Ja, Agrarpolitik geht uns alle etwas an. Ein paar Gedanken dazu:</p>

						<header>
							<h3>
								Direktzahlungen
							</h3>		
							<h4>Die geheimen Subventionen</h4>				                                                                     
						</header>
						<p>
							

 
Im Kontakt mit Hof-Kunden werde ich häufig auf die Subventionspolitik angesprochen, darum hier einige Zeilen dazu.

Die Direktzahlungen sind ein weiterer Bestandteil unseres Hofes. In den westlichen Ländern wurden in den letzten Jahren Milliarden Agrar-Subventionen verteilt. Wie überall, wo Steuergelder ausgegeben werden, gibt es auch bei diesen Zahlungen immer heftige Diskussionen, wohin das Geld fliessen soll.
 
Das heutige Direktzahlungs-System in der Schweiz ( siehe Grafik ) und auch in der EU zahlt die meisten Beiträge pro ha Fläche und pro Tier (Grossvieheinheit) aus. Der Bauer strebt also immer nach mehr Fläche (explodierende Bodenpreise) und einer höheren Tierzahl, ohne dass es einen Markt für die produzierte Ware gibt. Milchsee Butterberg u.s.w. So kommt es, dass die Produkte wieder mit Steuergeldern (Exportsubventionen) in die Dritte Welt “entsorgt“ werden müssen. Was wiederum dort den Markt und damit die Existenz der Bauern zerstört. Eine Umgestaltung der Direktzahlungen, weg von der Massenproduktion hin zu ökologischen Leistungen, ist also dringend nötig. Somit wären die Bauern im Westen auch wieder gezwungen zu überlegen, was kann ich verkaufen und nicht, wie kann ich möglichst schnell die Produktion vergrössern.
Aber jetzt zurück in die Schweiz. Ein durchschnittlicher Schweizer Bauernhof erhält 60 000 SFr. Direktzahlungen, also 5000 SFr. pro Monat. Genau auf dieser Höhe sollten die Direktzahlungen auch begrenzt sein, sie sind ja ein Mittel zur Erhaltung der bäuerlichen Kultur und nicht zur Förderung von Agrarfabriken.
Weil eben hauptsächlich pro Fläche und Tierzahl entschädigt wird und unser Biohof klein ist, bekommen wir 23 000 SFr. im Jahr. Das bereitet uns aber schon sehr viel Freude.
Merci viu mau!
						</p>
						<hr>

						<header>
							<h3>SAK</h3>
							<h4>Die Schweizer Agrarpolitik treibt sonderbare Blüten</h4>
						</header>
						<p>
								 
 

Mittels eines Punktesystems wird die benötigte Arbeitszeit auf einem Bauernbetrieb ermittelt, sogenannte SAK (Standardarbeitskraft). Wer zu wenig SAK Punkte erreicht, wird nicht mehr als Landwirt-schaftliches Gewerbe angesehen. Darum sind immer mehr Kleinbauern gezwungen, arbeitsintensive Kulturen anzubauen, um ihre SAK Punkte zu erhöhen und so noch in den Genuss von Staatsgeldern zu kommen. So wurden z.B. 2010 90 Tonnen Heidelbeeren mehr geerntet als noch im letzten Jahr. Es wäre wohl sinnvoller, alle Bauernbetriebe, ob gross oder klein, gleich zu behandeln. So könnten sich innovative Bauern am Markt durchsetzen und nicht einfach diejenigen mit den grössten (Kartoffeln) Flächen. Bauernhöfe die nach „Gesetz“ zu klein sind, das heisst, weniger als 1 Standardarbeitskraft (SAK) erreichen werden mit folgenden Sanktionen bestraft (nach Zone und Kanton unterschiedlich):

• Der Betrieb wird nach nichtlandwirschaftlichen Kriterien neu bewertet. Dies hat eine deutliche Erhöhung des amtlichen Wertes und des Eigenmietwertes zur Folge. Und die Einkommens und Vermögenssteuern werden höher ausfallen. • Durch die Erhöhung des amtlichen Wertes sinkt das allgemeine Abschreibungspotenzial.   • Durch die Erhöhung des amtlichen Wertes und des Eigenmietwertes steigt die Hürde, um im Anspruch von Krankenkassen-Prämienverbilligung und Stipendien zu bleiben. • Kein Anrecht des zukünftigen Selbstbewirtschafters, den Betrieb zum Ertragswert zu übernehmen. • Auswirkungen auf Raumplanung. Einrichten von Besenbeizen oder Schlafen im Stroh wird nicht mehr gestattet.

Von all diesen Sanktionen betroffen sind oft Höfe, bei denen der Landwirt oder seine Partnerin eine Zweitausbildung haben und sie auch ausüben. Nebst der Arbeit auf dem Hof also noch einem Nebenerwerb nachgehen und/oder Betriebsleiter, die ihre Aufgabe in Haushalt und Kinderbetreuung ernst nehmen, während die Partnerin einem 50% Erwerb nachgeht. Auch Betriebe, die ihre Produkte direkt ab Hof vermarkten und so eine höhere Wertschöpfung pro Fläche erreichen, sind häufig von den Sanktionen betroffen. Alles Punkte, welche die Schweizer Landwirtschaft bei dem sich abzeichnenden Abbau der Grenzzölle etwas konkurrenzfähiger machen würden. Die gezielte Diskriminierung von Schweizer Kleinbauern ist doch eine sehr sonderbare Praxis so scheint es mir. Wer weniger als 0,25 SAK erreicht, verliert das Anrecht auf Staatsgelder vollumfänglich. Falls sich die Grossbauern-Lobby durchsetzt, wird das Bundesamt für Landwirtschaft die SAK- Hürde ab 2014 noch erhöhen. Beerenliebhaber können sich also freuen.
						</p>
						<hr>

						<header>
							<h3>	Landwirtschaftspolitik International	 
							</h3>
						</header>
						<p>"Wo Kleinbauern genügend Land, Wasser, Geld und Arbeitsgeräte zur Verfügung stehen, produzieren sie einen deutlich höheren Nährwert pro Hektar als die industrielle Landwirtschaft. Und das in der Regel mit deutlich niedrigerem externen Input und geringeren Umweltschäden. Kleinbäuerliche Betriebe können sich besser und flexibler den Erfordernissen und Veränderungen ihrer Standorte anpassen. Zusätzlich sichern sie mehr Existenzen auf dem Land, weil sie arbeitsintensiver sind."

Mehr dazu im Weltagrarbericht.</p>
							
						</section>


					</div>
				</div>
			</section>


		<!-- Footer -->
			<section id="footer">
				<div class="container">

					<header class="major">
								<h2>Einkaufen ab hof, mit einem Klick</h2>
							</header>
							<p>Reservieren Sie jetzt zartes Biofleisch bequem online! <br>Egal ob gemütlich zu Hause auf der Couch oder unterwegs per Handy, über unser neues Reservationssystem können Sie Fleisch in verschiedenen Mischpaketen, Früchte und Vieles mehr einfach zur Selbstabholung vorbestellen. </p>
						<a class="button special" href="shop.twig">Zum Shop</a>
				</div>
				<footer>
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Biohof Inselmatt</li><li>Web: <a target="_blank" href="http://lerchpanther.ch">Lerch & Panther</a></li>
					</ul>
				</footer>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>